<div class="row">
  <div class="page-header d-flex justify-content-between pb-3">
    <h1 class="h2">Registro de empresas</h1>
    <button type="button" class="btn btn-outline-default mr-2" placement="left"
      ngbTooltip="Haga clic para acceder a la ayuda de esta sección">?</button>
  </div>
  <div class="col-12 p-2">
    <div class="breadcrumb">
      <a routerLink="/data-management/registro-empresa/representante" class="item completed">
        <span class="arrow"></span>
        <span class="hide-mobile">Representante legal</span>
        <span class="show-mobile">Repre...</span>
      </a>
      <a routerLink="/data-management/registro-empresa/empresa" class="item completed">
        <span class="arrow"></span>
        <span class="hide-mobile">Empresa</span>
        <span class="show-mobile">Empresa</span>
      </a>
      <a routerLink="/data-management/registro-empresa/ubicacion" class="item active">
        <span class="arrow"></span>
        <span class="hide-mobile">Ubicación</span>
        <span class="show-mobile">Ubicación</span>
      </a>
      <a class="item">
        <span class="hide-mobile">Resumen</span>
        <span class="show-mobile">Resumen</span>
      </a>
    </div>
  </div>
</div>

<form [formGroup]="ubicacion" (ngSubmit)="onSubmit()" class="row px-4 py-4 d-flex justify-content-center">
  <div class="col-12 col-lg-8 card p-3">
    <div class="mb-3">
      <div class="row d-flex align-items-center">
        <div class="col-12 col-lg-4 d-lg-flex justify-content-end">
          <label for="localidad" class="form-label fw-bold m-0">Localidad</label>
        </div>
        <div class="col-12 col-lg-8">
          <input type="text" id="localidad" class="form-control" formControlName="localidad" placeholder="Localidad del centro de trabajo">
          <div class="row">
            <div class="col-12 col-lg-8" *ngIf="submitted && formulario['localidad'].errors">
              <div *ngIf="formulario['localidad'].errors['required']">No puede estar vacía.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mb-3">
      <div class="row d-flex align-items-center">
        <div class="col-12 col-lg-4 d-lg-flex justify-content-end">
          <label for="provincia" class="form-label fw-bold m-0">Provincia:</label>
        </div>
        <div class="col-12 col-lg-8">
          <input type="text" class="form-control" id="provincia" formControlName="provincia" placeholder="Provincia del centro de trabajo">
          <div class="row">
            <div class="col-12 col-lg-8" *ngIf="submitted && formulario['provincia'].errors">
              <div *ngIf="formulario['provincia'].errors['required']">No puede estar vacía.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mb-3">
      <div class="row d-flex align-items-center">
        <div class="col-12 col-lg-4 d-lg-flex justify-content-end">
          <label for="direccion" class="form-label fw-bold m-0">Dirección</label>
        </div>
        <div class="col-12 col-lg-8">
          <input type="text" id="direccion" class="form-control" id="direccion" formControlName="direccion" placeholder="Av/ Avenida, 123">
          <div class="row">
            <div class="col-12 col-lg-8" *ngIf="submitted && formulario['direccion'].errors">
              <div *ngIf="formulario['direccion'].errors['required']">No puede estar vacía.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mb-3">
      <div class="row d-flex align-items-center">
        <div class="col-12 col-lg-4 d-lg-flex justify-content-end">
          <label for="cp" class="form-label fw-bold m-0">Código Postal</label>
        </div>
        <div class="col-12 col-lg-8">
          <input type="text" class="form-control" id="exampleInputText1" aria-describedby="emailHelp"
            formControlName="cp" placeholder="00000">
          <div class="row">
            <div class="col-12 col-lg-8" *ngIf="submitted && formulario['cp'].errors">
              <div *ngIf="formulario['cp'].errors['required']">No puede estar vacío.</div>
              <div *ngIf="formulario['cp'].errors['minlength']">Debe tener 5 dígitos.</div>
              <div *ngIf="formulario['cp'].errors['maxlength']">Debe tener 5 dígitos.</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row py-2 d-flex justify-content-center">
      <div class="col-6 d-flex justify-content-center">
        <input type="submit" value="Aceptar y continuar" class="btn btn-outline-primary">
      </div>
    </div>

  </div>
</form>
<div class="row">
  <div class="col-12 col-xl-12">
    <input type="button" value="Atrás" class="btn btn-danger" routerLink="data-management/registro-empresa/empresa">
  </div>
</div>
