<div class="modal-header">
    <h1 class="modal-title fs-4">Manual de la lista de Anexos </h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="CloseModal()"></button>
</div>
<div class="modal-body">
    <div class="row">
        <p class="text-info"><b>Esto es una ayuda para poder manejar la lista de Anexos</b></p>
        <div class="col-12">
            <h5>Si eres Tutor, Jefe de estudios o Director:</h5>
            <ul>
                <p class="text-info pt-3 fw-underline"><b>Explicación de los botones:</b></p>
                <li>Este sería el boton de ayuda</li>
                <img class="pb-3" src="../../../../assets/Manuales/crud-anexos/Screenshot_1.png" alt="">
                <li class=" pt-3">Con este botón podras descargar todos los anexos que estan activos en la tabla</li>
                <img class="pb-3" src="../../../../assets/Manuales/crud-anexos/Screenshot_3.png" alt="">
                <li class=" pt-3">Con este botón podras descargar un anexo en concreto, el que se muestra en la linea de la tabla donde se encuentre el botón
                </li>
                <img class="pb-3" src="../../../../assets/Manuales/crud-anexos/Screenshot_4.png" alt="">
                <li class="pt-3">Con este botón podras firmar un anexo en concreto, el que se muestra en la linea de la tabla donde se encuentre el botón </li>
                <img class="pb-3" src="../../../../assets/Manuales/crud-anexos/Screenshot_5.png" alt="">
                <li class="pt-3">Con este botón podras eliminar un anexo en concreto, el que se muestra en la linea de la tabla donde se encuentre el botón </li>
                <img class="pb-3" src="../../../../assets/Manuales/crud-anexos/Screenshot_6.png" alt="">
                <p class="text-info pt-3"><b>Explicación de los campos:</b></p>
                <li>Este campo nos muestra si la empresa ha firmado ese anexo, una linea es No, un check es Si</li>
                <img class="pb-3" src="../../../../assets/Manuales/crud-anexos/Screenshot_7.png" alt="">
                <li class="pt-3">Este campo nos muestra si el centro de estudios ha firmado ese anexo, una linea es No, un check es Si</li>
                <img class="pb-3" src="../../../../assets/Manuales/crud-anexos/Screenshot_8.png" alt="">
                <li class="pt-3">Este campo nos muestra el tipo de Anexo</li>
                <img class="pb-3" src="../../../../assets/Manuales/crud-anexos/Screenshot_9.png" alt="">
                <li class="pt-3">Este campo nos muestra la empresa asociada a ese Anexo</li>
                <img class="pb-3" src="../../../../assets/Manuales/crud-anexos/Screenshot_10.png" alt="">
            </ul>
        </div>

        <div class="col-12">
            <h5>Solo si eres Director o Jefe de estudios:</h5>
            <ul>
                <li class="pt-3">Esto sería una lista con los grupos vigentes en tu centro</li>
                <img class="pb-3" src="../../../../assets/Manuales/crud-anexos/Screenshot_2.png" alt="">
            </ul>
        </div>
    </div>
</div>
