<nav id="sidebarMenu" >
  <div class="position-sticky pt-4">
    <ul class="nav nav-pills flex-column">
      <li>
        <a routerlink="/" routerlinkactive="active"
          class="active nav-link link-dark" aria-current="page">
          <svg width="20" height="20" class="bi me-2">
            <use xlink:href="#CSV" />
          </svg>

          Carga de datos
        </a>
      </li>
      <li>
        <a routerlink="/" routerlinkactive="active"
          class=" nav-link link-dark" aria-current="page">
          <svg width="20" height="20" class="bi me-2">
            <use xlink:href="#A0" />
          </svg>

          Anexo 0
        </a>
      </li>
      <li>
        <a routerlink="/" routerlinkactive="active"
          class="nav-link link-dark">
          <svg width="20" height="20" class="bi me-2">
            <use xlink:href="#A0" />
          </svg>

          Anexo 0a
        </a>
      </li>
      <li>
        <a routerlink="/" routerlinkactive="active"
          class="nav-link link-dark">
          <svg width="20" height="20" class="bi me-2">
            <use xlink:href="#A1" />
          </svg>

          Anexo I
        </a>
      </li>
      <li>
        <a routerlink="/" routerlinkactive="active"
          class="nav-link link-dark">
          <svg width="20" height="20" class="bi me-2">
            <use xlink:href="#A2" />
          </svg>

          Anexo II
        </a>
      </li>
      <li>
        <a routerlink="/" routerlinkactive="active"
          class="nav-link link-dark">
          <svg width="20" height="20" class="bi me-2">
            <use xlink:href="#A3" />
          </svg>
          Anexo III
        </a>
      </li>

    </ul>
  </div>
</nav>
