<div class="modal-header">
  <h1 class="modal-title fs-2">Manual de gestión de empresas</h1>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar" (click)="closeModal()"></button>
</div>
<div class="modal-body">
  <div>
    <h2 class="fs-4 text-info">Vistazo general</h2>
    <p>En la vista de gestión de empresas se muestran los datos de las empresas que tienen convenio con el centro de
      estudios en el que está trabajando</p>
    <p>En la siguiente imagen puede observar cada uno de los elementos importantes de la vista, numerados</p>
    <img class="img-fluid" src="/assets/Manuales/gestion-empresas/screenshot_00.png"
      alt="Captura de pantalla con la vista de gestión de empresas">
  </div>
  <ul>
    <ol>
      <h2 class="fs-4 text-info">Registrar empresa</h2>
      <p>El botón situado en la esquina superior derecha permite registrar una empresa en la aplicación, generándose el
        convenio y el Anexo 0 o 0A correspondientes</p>
      <p>El funcionamiento del registro de la empresa se detalla en el manual correspondiente</p>
      <img src="/assets/Manuales/gestion-empresas/screenshot_01.png" alt="Botón para registrar una empresa"
        class="img-fluid">
    </ol>
  </ul>
</div>
