<!-- Título de las secciones -->
<div class="row">
  <div class="page-header d-flex justify-content-between pb-3">
    <h1 class="h2">Registro de empresas</h1>
    <button type="button" class="btn btn-outline-default mr-2" placement="left"
      ngbTooltip="Haga clic para acceder a la ayuda de esta sección" (click)="abrirAyuda()">?</button>
  </div>
  <!-- Breadcrumb -->
  <div class="col-12 p-2">
    <div class="breadcrumb">
      <a routerLink="/data-management/registro-empresa/representante" class="item completed">
        <span class="arrow"></span>
        <span class="hide-mobile">Representante</span>
        <span class="show-mobile">Repre...</span>
      </a>
      <a routerLink="/data-management/registro-empresa/empresa" class="item completed">
        <span class="arrow"></span>
        <span class="hide-mobile">Empresa</span>
        <span class="show-mobile">Empresa</span>
      </a>
      <a routerLink="/data-management/registro-empresa/ubicacion" class="item completed">
        <span class="arrow"></span>
        <span class="hide-mobile">Ubicación</span>
        <span class="show-mobile">Ubicación</span>
      </a>
      <a routerLink="data-management/registro-empresa/resumen" class="item active">
        <span class="hide-mobile">Resumen</span>
        <span class="show-mobile">Resumen</span>
      </a>
    </div>
  </div>
</div>

<!-- Cuerpo del formulario -->
<form [formGroup]="resumen" (ngSubmit)="onSubmit()" class="row px-4 py-4 d-flex justify-content-center">
  <div class="col-12 border border-black p-3 card">
    <div class="row">
      <!-- Datos del representante legal -->
      <div class="col-xl-4 col-12 px-4">
        <div class="row">
          <h2 class="col-12 h3 text-center">Representante</h2>
        </div>

        <div class="row border border-dark border-1 rounded p-2 d-flex align-items-center">
          <div class="col-12 mb-3">
            <div class="row d-flex align-items-center">
              <div class="col-12 col-lg-4 d-lg-flex justify-content-end">
                <label for="dniRep" class="form-label fw-bold m-0">DNI:</label>
              </div>
              <div class="col-12 col-lg-8">
                <input type="text" id="dniRep" class="form-control-plaintext" formControlName="dniRep"
                  [(ngModel)]="dniRep" readonly>
              </div>
            </div>
          </div>

          <div class="col-12 mb-3">
            <div class="row d-flex align-items-center">
              <div class="col-12 col-lg-4 d-lg-flex justify-content-end">
                <label for="nombreRep" class="form-label fw-bold m-0">Nombre:</label>
              </div>
              <div class="col-12 col-lg-8">
                <input type="text" id="nombreRep" class="form-control-plaintext" formControlName="nombreRep"
                  [(ngModel)]="nombreRep" readonly>
              </div>
            </div>
          </div>

          <div class="col-12 mb-3">
            <div class="row d-flex align-items-center">
              <div class="col-12 col-lg-4 d-lg-flex justify-content-end">
                <label for="apellidosRep" class="form-label fw-bold m-0">Apellidos:</label>
              </div>
              <div class="col-12 col-lg-8">
                <input type="text" id="apellidosRep" class="form-control-plaintext" formControlName="apellidosRep"
                  [(ngModel)]="apellidosRep" readonly>
              </div>
            </div>
          </div>

          <div class="col-12 mb-3">
            <div class="row d-flex align-items-center">
              <div class="col-12 col-lg-4 d-lg-flex justify-content-end">
                <label for="correoRep" class="form-label fw-bold m-0">E-mail:</label>
              </div>
              <div class="col-12 col-lg-8">
                <input type="text" id="correoRep" class="form-control-plaintext" formControlName="correoRep"
                  [(ngModel)]="correoRep" readonly>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Datos de la empresa -->
      <div class="col-xl-4 col-12 px-4">
        <div class="row">
          <h2 class="col-12 text-center h3">Empresa</h2>
        </div>

        <div class="row border border-dark border-1 rounded p-2 d-flex align-items-center">
          <div class="col-12 mb-3">
            <div class="row d-flex align-items-center">
              <div class="col-12 col-lg-4 d-lg-flex justify-content-end">
                <label for="cifEmp" class="form-label fw-bold m-0">CIF:</label>
              </div>
              <div class="col-12 col-lg-8">
                <input type="text" id="cifEmp" class="form-control-plaintext" formControlName="cifEmp"
                  [(ngModel)]="cifEmp" readonly>
              </div>
            </div>
          </div>

          <div class="col-12 mb-3">
            <div class="row d-flex align-items-center">
              <div class="col-12 col-lg-4 d-lg-flex justify-content-end">
                <label for="nombreEmp" class="form-label fw-bold m-0">Nombre:</label>
              </div>
              <div class="col-12 col-lg-8">
                <input type="text" id="nombreEmp" class="form-control-plaintext" formControlName="nombreEmp" [(ngModel)]="nombreEmp"
                  readonly>
              </div>
            </div>
          </div>

          <div class="col-12 mb-3">
            <div class="row d-flex align-items-center">
              <div class="col-12 col-lg-4 d-lg-flex justify-content-end">
                <label for="correoEmp" class="form-label fw-bold m-0">Email:</label>
              </div>
              <div class="col-12 col-lg-8">
                <input type="text" id="correoEmp" class="form-control-plaintext" formControlName="correoEmp"
                  [(ngModel)]="correoEmp" readonly>
              </div>
            </div>
          </div>

          <div class="col-12 mb-3">
            <div class="row d-flex align-items-center">
              <div class="col-12 col-lg-4 d-lg-flex justify-content-end">
                <label for="telefonoEmp" class="form-label fw-bold m-0">Teléfono:</label>
              </div>
              <div class="col-12 col-lg-8">
                <input type="text" id="telefonoEmp" class="form-control-plaintext" formControlName="telefonoEmp"
                  [(ngModel)]="telefonoEmp" readonly>
              </div>
            </div>
          </div>

          <div class="col-12 mb-3">
            <div class="row d-flex align-items-center">
              <div class="col-12 col-lg-4 d-lg-flex justify-content-end">
                <label for="tipoEmpresa" class="form-label fw-bold m-0">Tipo:</label>
              </div>
              <div class="col-12 col-lg-8">
                <input type="text" id="tipoEmpresa" class="form-control-plaintext" formControlName="tipoEmpresa"
                  [(ngModel)]="tipoEmpresa" readonly>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Datos del domicilio del centro de trabajo -->
      <div class="col-xl-4 col-12 px-4">
        <div class="row">
          <h2 class="col-12 text-center h3">Ubicación</h2>
        </div>

        <div class="row border border-dark border-1 rounded p-2 d-flex align-items-center">
          <div class="col-12 mb-3">
            <div class="row d-flex align-items-center">
              <div class="col-12 col-lg-4 d-lg-flex justify-content-end">
                <label for="localidad" class="form-label fw-bold m-0">Localidad:</label>
              </div>
              <div class="col-12 col-lg-8">
                <input type="text" id="localidad" class="form-control-plaintext" formControlName="localidad"
                  [(ngModel)]="localidad" readonly>
              </div>
            </div>
          </div>

          <div class="col-12 mb-3">
            <div class="row d-flex align-items-center">
              <div class="col-12 col-lg-4 d-lg-flex justify-content-end">
                <label for="provincia" class="form-label fw-bold m-0">Provincia:</label>
              </div>
              <div class="col-12 col-lg-8">
                <input type="text" id="provincia" class="form-control-plaintext" formControlName="provincia"
                  [(ngModel)]="provincia" readonly>
              </div>
            </div>
          </div>

          <div class="col-12 mb-3">
            <div class="row d-flex align-items-center">
              <div class="col-12 col-lg-4 d-lg-flex justify-content-end">
                <label for="direccion" class="form-label fw-bold m-0">Dirección:</label>
              </div>
              <div class="col-12 col-lg-8">
                <input type="text" id="direccion" class="form-control-plaintext" formControlName="direccion"
                  [(ngModel)]="direccion" readonly>
              </div>
            </div>
          </div>

          <div class="col-12 mb-3">
            <div class="row d-flex align-items-center">
              <div class="col-12 col-lg-4 d-lg-flex justify-content-end">
                <label for="cp" class="form-label fw-bold m-0">CP:</label>
              </div>
              <div class="col-12 col-lg-8">
                <input type="text" id="cp" class="form-control-plaintext" formControlName="cp" [(ngModel)]="cp"
                  readonly>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Botones -->
    <div class="row py-2 d-flex align-items-center">
      <div class="col-12 col-xl-12 d-flex justify-content-center">
        <input type="submit" value="Registrar empresa" class="btn btn-outline-primary">
      </div>
    </div>
  </div>
</form>
