<div class="row">

  <body class="col-12">

    <div class="row">
      <div class="col-12 col-xl-2 p-2 bg-light text-dark border border-dark">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active linkNegro fw-bold fst-italic" aria-current="page" href="#">Anexo 0</a>
          </li>
          <li class="nav-item">
            <a class="nav-link linkNegro fw-bold fst-italic" href="#">Anexo 1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link linkNegro fw-bold fst-italic" href="#">Anexo 999</a>
          </li>
          <li class="nav-item">
            <a class="nav-link linkNegro fw-bold fst-italic">Anexo ∞</a>
          </li>
        </ul>
      </div>
      <div class=" col-12 col-xl-10 p-2 text-dark bg-opacity-50"  style="background-color: #4CDB88;">
        <div class="row">
          <div class="col-12">
            <!-- <div class="container"> -->
            <div class="breadcrumb">
              <a href="#" class="item active">
                <!--class="item completed" para seleccionar que ya se ha completado ese paso-->
                <span class="arrow"></span>
                <span class="hide-mobile">Representante</span>
                <span class="show-mobile">Repre...</span>
              </a>
              <a href="#" class="item">
                <!--class="item active" para determinar que estamos en ese paso-->
                <span class="arrow"></span>
                <span class="hide-mobile">Empresa</span>
                <span class="show-mobile">Empresa</span>
              </a>
              <a href="#" class="item">
                <span class="arrow"></span>
                <span class="hide-mobile">Ubicación</span>
                <span class="show-mobile">Ubicación</span>
              </a>
              <a href="#" class="item">
                <span class="hide-mobile">Resumen</span>
                <span class="show-mobile">Resumen</span>
              </a>
            </div>
            <!-- </div> -->
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <form [formGroup]="representante" (ngSubmit)="onSubmit()"
              class="row px-4 py-4 d-flex justify-content-center">
              <div class="col-12 col-xl-8 border border-black py-3 px-3">
                <div class="mb-3">
                  <div class="row d-flex justify-content-center">
                    <div class="col-12 col-xl-4">
                      <label for="exampleInputEmail1" class="form-label fw-bold">Email:</label>
                    </div>
                    <div class="col-12 col-xl-8">
                      <input type="email" class="form-control" placeholder="example@example.com"
                        formControlName="email">
                      <div class="row">
                        <div class="col-12 col-xl-8" *ngIf="submitted && formulario['email'].errors">
                          <div>El e-mail: </div>
                          <div *ngIf="formulario['email'].errors['required']">No puede estar vacía</div>
                          <div *ngIf="formulario['email'].errors['email']">Debe tener formato de correo electrónico
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="mb-3">
                  <div class="row d-flex justify-content-center">
                    <div class="col-12 col-xl-4">
                      <label for="exampleInputPassword1" class="form-label fw-bold">Nombre:</label>
                    </div>
                    <div class="col-12 col-xl-8">
                      <input type="text" class="form-control" id="exampleInputPassword1" formControlName="nombre">
                      <div class="row">
                        <div class="col-12 col-xl-8" *ngIf="submitted && formulario['nombre'].errors">
                          <div>El nombre: </div>
                          <div *ngIf="formulario['nombre'].errors['required']">No puede estar vacío.</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="mb-3">
                  <div class="row d-flex justify-content-center">
                    <div class="col-12 col-xl-4">
                      <label for="exampleInputEmail1" class="form-label fw-bold">Primer apellido:</label>
                    </div>
                    <div class="col-12 col-xl-8">
                      <input type="text" class="form-control" id="exampleInputText1" aria-describedby="emailHelp"
                        formControlName="apellido1">
                      <div class="row">
                        <div class="col-12 col-xl-8" *ngIf="submitted && formulario['nombre'].errors">
                          <div>El apellido: </div>
                          <div *ngIf="formulario['nombre'].errors['required']">No puede estar vacío.</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="mb-3">
                  <div class="row d-flex justify-content-center">
                    <div class="col-12 col-xl-4">
                      <label for="exampleInputEmail1" class="form-label fw-bold">Segundo apellido:</label>
                    </div>
                    <div class="col-12 col-xl-8">
                      <input type="text" class="form-control" id="exampleInputText1" aria-describedby="emailHelp"
                        formControlName="apellido2">
                        <div class="row">
                          <div class="col-12 col-xl-8" *ngIf="submitted && formulario['apellido2'].errors">
                            <div>El segundo apellido: </div>
                            <div *ngIf="formulario['apellido2'].errors['required']">No puede estar vacío.</div>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="mb-3">
                  <div class="row d-flex justify-content-center">
                    <div class="col-12 col-xl-4">
                      <label for="exampleInputEmail1" class="form-label fw-bold">DNI:</label>
                    </div>
                    <div class="col-12 col-xl-8">
                      <input type="text" class="form-control" id="exampleInputText1" aria-describedby="emailHelp"
                        placeholder="00000000 X" formControlName="dni">
                        <div class="row">
                          <div class="col-12 col-xl-8" *ngIf="submitted && formulario['dni'].errors">
                            <div>El DNI: </div>
                            <div *ngIf="formulario['dni'].errors['required']">No puede estar vacío.</div>
                            <div *ngIf="formulario['dni'].errors['minlength']">Debe tener 8 números y 1 letra en mayúscula.</div>
                            <div *ngIf="formulario['dni'].errors['maxlength']">Debe tener 9 caracteres.</div>

                          </div>
                        </div>
                    </div>
                  </div>
                </div>

                <div class="row py-2 d-flex justify-content-center">
                  <div class="col-6 col-xl-6 d-flex justify-content-center">
                    <input type="submit" value="Aceptar y continuar" class="btn btn-primary">
                  </div>
                </div>
              </div>
            </form>
            <div class="row">
              <div class="col-12 col-xl-12">
                <input type="button" value="Atrás" class="btn btn-danger" routerLink="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</div>

