<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <h2 class="col-12">Gestión de Anexos</h2>
            </div>
            <div class="row">
                <div class="col-12">
                    <form>
                        <div class="row pb-2">
                            <div class="col">
                                <button (click)="descargarTodo()" class="float-end">Descargar todo</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">

                                <table class="table table-sm table-striped text-center">
                                    <thead class="table-primary">
                                        <tr>
                                            <th scope="col">Anexo</th>
                                            <th scope="col">Empresa</th>
                                            <th scope="col">Firma_Empresa</th>
                                            <th scope="col">Firma_Instituto</th>
                                            <th scope="col">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody class="table-secondary">
                                        <tr *ngFor="let anexo of respuesta; index as i">

                                            <td scope="col">
                                                <p>{{ anexo.nombre }}</p>
                                                <p style="display: none;">{{ anexo.codigo }}</p>
                                            </td>

                                            <td scope="col">
                                                <p>{{ anexo.empresa }}</p>
                                            </td>

                                            <td scope="col">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                                        <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z"/>
                                      </svg>
                                            </td>

                                            <td scope="col">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-dash-lg" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z"/>
                                      </svg>
                                            </td>

                                            <td scope="col">

                                                <button (click)="descargarAnexo(anexo.codigo)" class="btn mb-2 mx-2" type="submit">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                                          <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                                          <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                                        </svg>
                                      </button>

                                                <button (click)="eliminarAnexo(anexo.codigo)" class="btn mb-2 mx-2" type="submit">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash-fill text-danger" viewBox="0 0 16 16">
                                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                                        </svg>
                                      </button>
                                            </td>

                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>