<div class=" col-12 p-2 text-dark bg-light">
  <h1>Registro de empresa</h1>
  <div class="row">
    <div class="col-12">
      <!-- <div class="container"> -->
      <div class="breadcrumb">
        <a href="#" class="item completed">
          <!--class="item completed" para seleccionar que ya se ha completado ese paso-->
          <span class="arrow"></span>
          <span class="hide-mobile">Representante legal</span>
          <span class="show-mobile">Repre...</span>
        </a>
        <a href="#" class="item active">
          <!--class="item active" para determinar que estamos en ese paso-->
          <span class="arrow"></span>
          <span class="hide-mobile">Empresa</span>
          <span class="show-mobile">Empresa</span>
        </a>
        <a href="#" class="item">
          <span class="arrow"></span>
          <span class="hide-mobile">Ubicación</span>
          <span class="show-mobile">Ubicación</span>
        </a>
        <a href="#" class="item">
          <span class="hide-mobile">Resumen</span>
          <span class="show-mobile">Resumen</span>
        </a>
      </div>
      <!-- </div> -->
    </div>
  </div>


  <div class="row">
    <div class="col-12">
      <form [formGroup]="empresa" (ngSubmit)="onSubmit()" class="row px-4 py-4 d-flex justify-content-center">
        <div class="col-12 col-lg-8 card py-3 px-3 card">
          <div class="mb-3">
            <div class="row d-flex align-items-center">
              <div class="col-12 col-lg-4 d-lg-flex justify-content-end">
                <label for="cif" class="form-label fw-bold m-0">CIF</label>
              </div>
              <div class="col-12 col-lg-8">
                <input type="text" class="form-control" id="cif" formControlName="cif" placeholder="00000000X">
                <div class="row">
                  <div class="col-12 col-lg-8" *ngIf="submitted && formulario['cif'].errors">
                    <div *ngIf="formulario['cif'].errors['required']">No puede estar vacío.</div>
                    <div *ngIf="formulario['cif'].errors['minlength']">Debe tener 8 números y 1 letra en
                      mayúscula.</div>
                    <div *ngIf="formulario['cif'].errors['maxlength']">Debe tener 9 caracteres.</div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="mb-3">
            <div class="row d-flex align-items-center">
              <div class="col-12 col-lg-4 d-lg-flex justify-content-end">
                <label for="nombre" class="form-label fw-bold m-0">Nombre</label>
              </div>
              <div class="col-12 col-lg-8">
                <input type="text" class="form-control" id="nombre" formControlName="nombre" placeholder="Nombre de la empresa">
                <div class="row">
                  <div class="col-12 col-lg-8" *ngIf="submitted && formulario['nombre'].errors">
                    <div *ngIf="formulario['nombre'].errors['required']">No puede estar vacío.</div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="mb-3">
            <div class="row d-flex align-items-center">
              <div class="col-12 col-lg-4 d-lg-flex justify-content-end">
                <label for="email" class="form-label fw-bold m-0">Correo electrónico</label>
              </div>
              <div class="col-12 col-lg-8">
                <input type="email" id="email" class="form-control" placeholder="empresa@empresa.com"
                  formControlName="email">
                <div class="row">
                  <div class="col-12 col-lg-8" *ngIf="submitted && formulario['email'].errors">
                    <div *ngIf="formulario['email'].errors['required']">No puede estar vacío</div>
                    <div *ngIf="formulario['email'].errors['email']">Debe tener formato de correo electrónico
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <div class="row d-flex align-items-center">
              <div class="col-12 col-lg-4 d-lg-flex justify-content-end">
                <label for="telefono" class="form-label fw-bold m-0">Teléfono</label>
              </div>
              <div class="col-12 col-lg-8">
                <input type="text" class="form-control" id="telefono" formControlName="telefono"
                  placeholder="000 00 00 00">
                <div class="row">
                  <div class="col-12 col-lg-8" *ngIf="submitted && formulario['telefono'].errors">
                    <div *ngIf="formulario['telefono'].errors['required']">No puede estar vacío.</div>
                    <div *ngIf="formulario['telefono'].errors['minlength']">Debe tener 9 números.</div>
                    <div *ngIf="formulario['telefono'].errors['maxlength']">Debe tener 9 números.</div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row py-2 d-flex justify-content-center">
            <div class="col-6 d-flex justify-content-center">
              <input type="submit" value="Aceptar y continuar" class="btn btn-primary">
            </div>
          </div>


        </div>
      </form>

      <div class="row">
        <div class="col-12">
          <input type="button" value="Atrás" class="btn btn-danger" routerLink="/registro-empresa/representante">
        </div>
      </div>
    </div>
  </div>
</div>
