<!-- Anexo XV -->
<div class="card" *ngIf="this.tipoAnexo == 'AnexoXV'">
    <div class="modal-header">
        <h1 class="modal-title fs-4">AnexoXV: </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="CloseModal()"></button>
    </div>
    <div class="modal-body">
        <!-- #region Datos -->
        <div class="row d-flex align-items-center justify-content-center">
            <button (click)="abrirModalFirma()" class="w-50 btn btn-outline-primary px-2 py-1 me-2" type="submit" aria-label="firma">
                      Firmar
                </button>
        </div>

        <hr class="my-3">
        <div class="row d-flex align-items-center justify-content-center modal-footer">
            <input (click)="onSubmit()" class="w-50 btn btn-primary btn-md px-2 py-1 me-2" type="submit" value="Generar Anexo">
        </div>
    </div>
</div>
