<div class="container-fluid">
  <div class="row" cdkDropListGroup>
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-12 text-center mt-3">
          <h3>{{nombreCiclo}}</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 offset-md-1 col-sm-6 mt-1">
          <div class="row">
            <div class="col-12">
              <h6>Alumnos</h6>
              <div class="row">
                <div class="col-sm-9">
                  <div class="card">
                    <div class="card-body ps-3" cdkDropList [cdkDropListData]="alumnos"
                      (cdkDropListDropped)="drop($event)">
                      <div *ngFor="let alumno of alumnos" ngClass="alumnos bg-warning bg-opacity-50 border-bottom border-5 border-secondary"
                        attr.id="{{alumno.dni}}" cdkDrag>
                        {{alumno.nombre}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5 col-sm-6 mt-1">
          <div class="row">
            <div class="col-12">
              <h6>Empresas</h6>
              <div class="row">
                <div class="col-sm-9">
                  <div class="card">
                    <div class="card-body">
                      <div *ngFor="let empresa of empresas" ngClass="mb-2 bg-primary bg-opacity-50"
                        attr.id="{{empresa.id}}">
                        <h6>{{empresa.nombre}}</h6>
                        <div cdkDropList [cdkDropListData]="empresa.alumnos" class="py-3"
                          (cdkDropListDropped)="drop($event)">
                          <div *ngFor="let alumno2 of empresa.alumnos" ngClass="alumnos bg-success bg-opacity-75 border-bottom border-5 border-success"
                            attr.id="{{alumno2.dni}}" cdkDrag>
                            {{alumno2.nombre}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="col-md-5 col-sm-6 mt-1">
          <input type="button" class="btn btn-primary" value="Asignar alumnos" (click)='setCambiosEmpresas()'>
        </div>
        <div class="col-md-5 col-sm-6 mt-1">
          <input type="button" class="btn btn-primary" value="Generar Word" (click)="GenerarAnexos()">
        </div>
      </div>
    </div>
  </div>
</div>
