<!-- <form [formGroup]="formulario" (ngSubmit)="onSubmit()"> -->
  <div class="container-fluid">
    <div class="row" cdkDropListGroup>
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-12 text-center mt-3">
            <h3>{{nombreCiclo}}</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-6 mt-1">
            <div class="row">
              <div class="col-12">
                <h6>Alumnos</h6>
                <div class="row">
                  <div class="col-sm-9">
                    <div class="card">
                      <div class="card-body ps-3" cdkDropList [cdkDropListData]="alumnos"
                        (cdkDropListDropped)="drop($event)">
                        <div *ngFor="let alumno of alumnos"
                          ngClass="alumnos bg-warning bg-opacity-50 rounded border border-3 border-secondary mb-2"
                          attr.id="{{alumno.dni}}" cdkDrag>
                          {{alumno.nombre}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-8 col-sm-6 mt-1">
            <div class="row">
              <div class="col-12">
                <h6>Empresas</h6>
                <div class="row">
                  <div class="col">
                    <div *ngFor="let empresa of empresas"
                      ngClass="row mb-2 bg-primary bg-opacity-50 p-2 border border-primary rounded"
                      attr.id="{{empresa.id}}">
                      <div class="col">
                        <div class="row">
                          <h6 class="col-4">{{empresa.nombre}}</h6>
                          <span class="col-4 text-end" for="responsableEmpresa">Responsable de la empresa:</span>
                          <input class="col-4" type="text"[(ngModel)]="empresa.responsable">
                        </div>
                        <div class="row">
                          <div class="col-12">
                            <div cdkDropList [cdkDropListData]="empresa.alumnos" class="py-3"
                              (cdkDropListDropped)="drop($event)">
                              <div *ngFor="let alumno2 of empresa.alumnos"
                                ngClass="alumnos bg-warning bg-opacity-75 rounded border border-3 border-secondary row p-1 mb-2"
                                attr.id="{{alumno2.dni}}" cdkDrag>
                                <!-- <div formArrayName="alumnosFormulario"> -->
                                  <span class="col-12 col-md-3">{{alumno2.nombre}}</span>
                                  <input class="col-12 col-md-3" placeholder="Horario" type="text" [(ngModel)]="alumno2.horario">
                                  <input class="col-12 col-md-3" type="date" [(ngModel)]="alumno2.fecha_ini">
                                  <input class="col-12 col-md-3" type="date" [(ngModel)]="alumno2.fecha_fin">
                                <!-- </div> -->
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="col-sm-12 mt-1 text-center">
            <input type="button" class="btn btn-primary m-1" value="Guardar" (click)='setCambiosEmpresas()'>
            <input type="button" class="btn btn-primary m-1" value="Generar Word" (click)="GenerarAnexos()">
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- </form> -->
