<div class="container-fluid">
  <div class="row" cdkDropListGroup>
    <div class="col-sm-12">
      <div class="row">
        <div class="col-sm-12 text-center mt-3">
          <h3>{{nombreCiclo}}</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 offset-md-1 col-sm-6 mt-1">
          <div class="row">
            <div class="col-12">
              <p>Alumnos</p>
              <div class="row">
                <div class="col-sm-9">
                  <div class="card tablero">
                    <div class="card-body caja ps-3" cdkDropList [cdkDropListData]="alumnos"
                      (cdkDropListDropped)="drop($event)">
                      <div *ngFor="let alumno of alumnos" ngClass="alumno p-1 grab arrastrables"
                        attr.id="{{alumno.dni}}" cdkDrag>
                        {{alumno.nombre}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5 col-sm-6 mt-1">
          <div class="row">
            <div class="col-12">
              <p>Empresas</p>
              <div class="row">
                <div class="col-sm-9">
                  <div class="card">
                    <div class="card-body tablero">
                      <div *ngFor="let empresa of empresas" ngClass="empresa fondo mb-2 arrastrables"
                        attr.id="{{empresa.id}}">
                        {{empresa.nombre}}
                        <div cdkDropList [cdkDropListData]="empresa.alumnos" class="py-3"
                          (cdkDropListDropped)="drop($event)">
                          <div *ngFor="let alumno2 of empresa.alumnos" ngClass="alumno p-1 grab"
                            attr.id="{{alumno2.dni}}" cdkDrag>
                            {{alumno2.nombre}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="col-md-5 col-sm-6 mt-1">
          <input type="button" class="btn btn-primary" value="Asignar alumnos" (click)='setCambiosEmpresas()'>
        </div>
        <div class="col-md-5 col-sm-6 mt-1">
          <input type="button" class="btn btn-primary" value="Generar Word" (click)="GenerarAnexos()">
        </div>
      </div>
    </div>
  </div>
</div>
